@charset "utf-8";

/*///////////////////////////////////////////////////////
pc向けをベース
///////////////////////////////////////////////////////*/

/*=========
bodyスタイル
=========*/
body {
  width: 100%;
  background-color: white;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 
               "メイリオ", "Meiryo", "Osaka", "MS Pゴシック",
               "MS PGothic", "sans-serif";
  color: #000;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
li {
  list-style: none;
}

.container {
  margin: 0 auto;
}

/*===========================================
  ヘッダー&グローバルナビゲーションのスタイル
===========================================*/
/*PC向け*/
header {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  position: fixed;
}

header h1 {
  line-height: 60px;
  float: left;
  font-size: 30px;
  padding-left: 10px;
}

.nav-list {
  float: right;
}

.nav-list li {
  float: left;
  font-size: 15px;
  width: 100px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  line-height: 60px;
  background-color: black;
}

.nav-list a:hover {
    background-color: dimgray;
  }

/*スマホ向け*/
@media (max-width: 768px) {  
  .nav li {
    width: 50%;
  }
}
/*============
トップのスタイル
============*/
.top-wrapper {
  width: 100%;
  height: 600px;
  background: url();
  background-size: cover;
  text-align: center;
}

.top-wrapper h2 {
  font-size: 50px;
  color: black;
  padding-top: 100px;
}

.top-wrapper p {
  font-size: 30px;
  color: red;
}

/*============================
コンテンツエリア->PROFILEスタイル
============================*/
/*PC向けの指定*/
.introduce1 p {
  text-align: center;
}

/*ページトップへボタンのスタイル*/
a#pagetopBtn img {
 position: fixed;
 bottom: 10px;
 right: 1px;
}

/*フッターのスタイル*/
footer {
  line-height: 60px;
  font-size: 20px;
  color: white;
  background-color: black;
  text-align: center;
}



